<div class="md:hidden fixed bottom-0 left-0 right-0 bg-light-bg dark:bg-dark border-t border-light-border dark:border-dark-lighter py-3 px-6 flex justify-around items-center">
    <a href="index.html" class="text-secondary">
        <i class="fa fa-home text-xl"></i>
    </a>
    <a href="explore.html" class="text-gray-500 dark:text-light-dark">
        <i class="fa fa-hashtag text-xl"></i>
    </a>
    <button class="bg-secondary text-white w-12 h-12 rounded-full flex items-center justify-center">
        <i class="fa fa-pencil"></i>
    </button>
    <a href="profile.html" class="text-gray-500 dark:text-light-dark">
        <i class="fa fa-user text-xl"></i>
    </a>
</div>